@value consts: './../../consts/theme.css';
@value GAP2, GAP3, COLOR_WARNING, COLOR_SUCCESS, TRANSITION_TIME from consts;

.buttonDone {
  background: COLOR_WARNING;
  color: COLOR_SUCCESS;
  border: none;
  font-size: 2rem;
  transition: TRANSITION_TIME;
}

.buttonDone:hover {
  transform: scale(0.95);
}

.buttonDone:active {
  outline: none;
  opacity: 0.4;
}

.buttonDone:focus {
  outline: none;
}
