@value consts: './../../consts/theme.css';
@value GAP2, GAP3, COLOR_WARNING, COLOR_SUCCESS from consts;

.buttonDone {
  background: COLOR_SUCCESS;
  border: none;
}

.buttonDone:active {
  outline: none;
  opacity: 0.4;
}
.buttonDone:focus {
  outline: none;
}
/*
.okButton {
  composes: button;
  color: COLOR_SUCCESS;
}

.cancellButton {
  composes: button;
  color: COLOR_DANGER;
}*/
