@value consts: './../../consts/theme.css';
@value GAP2, GAP3, COLOR_DANGER, COLOR_SUCCESS from consts;

.orders {
  display: grid;
  grid-template-columns: 1fr 3fr 3fr 3fr 1fr;
}

.orders > * {
  display: contents;
}
.orderContainer {
  display: contents;
}

.orderDone {
  composes: orderContainer;
}

.orderNotDone {
  composes: orderContainer;
}

.orderContainer > * {
  padding: GAP2;
}
.orderDone > * {
/*  background: pink;*/
}

.orderNotDone > * {
  background: COLOR_SUCCESS;
}
