@value consts: './../../consts/theme.css';
@value GAP1, GAP2, GAP3, COLOR_DANGER, COLOR_SUCCESS from consts;

.alert {
  border: 1px solid;
  position: absolute;
/*  margin: NAV_BUTTON_WIDTH;*/
/*  background: inherit;*/
  right: 100px;
  top: 0;
  margin: GAP2;
  padding: GAP1 GAP3;
}

.danger {
  composes: alert;
  background: COLOR_DANGER;
}

.success {
  composes: alert;
  background: COLOR_SUCCESS;
}

.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
}

.closeButton,
.sign {
  cursor: pointer;
}