@value consts: './../../consts/theme.css';
@value GAP2 from consts;

.datePicker {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 1px;
}

.arrow {
  background: transparent;
  border: none;
  outline: none;
  color: inherit;
}

.monthTitle {
  grid-column: 2 / 7;
}

.cell {
  padding: GAP2;
}

.disabled {
  background: grey;
}

.today {
  background: pink;
}

.selected {
  background: yellow;
}