@value consts: './../../consts/theme.css';
@value COLOR_PRIMARY, COLOR_BACK2, GAP2, GAP3 from consts;

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form input {
  width: 50%;
  background: transparent;
  border: none;
  color: COLOR_PRIMARY;
  border-bottom: 1px dashed;
  padding: GAP2;
  margin-top: GAP3;
  outline: none;
}

.form input[type='submit'] {
  border: 1px solid;
}

.form input:focus {
  color: COLOR_BACK2;
}

.form input[type='submit'] {
  border: 1px solid;
}

.form input::-webkit-input-placeholder { color: COLOR_PRIMARY; }
.form input:-ms-input-placeholder { color: COLOR_PRIMARY; }
.form input::-ms-input-placeholder { color: COLOR_PRIMARY; }
.form input::placeholder { color: COLOR_PRIMARY; }

.form input:focus::-webkit-input-placeholder { color: COLOR_BACK2; }
.form input:focus:-ms-input-placeholder { color: COLOR_BACK2; }
.form input:focus::-ms-input-placeholder { color: COLOR_BACK2; }
.form input:focus::placeholder { color: COLOR_BACK2; }