@value consts: './consts/theme.css';
@value BP_MOBILE, BP_TABLET, COLOR_PRIMARY, COLOR_SECONDARY, COLOR_BACK1, COLOR_BACK2, GAP1, GAP2, GAP3, GAP4 from consts;

@media screen and (max-width: BP_MOBILE) {
  body {
    padding: GAP1;
    min-height: calc(100vh - 2 * GAP1);
  }
}
@media screen and (min-width: calc(BP_MOBILE + 1px)) and (max-width: BP_TABLET) {
  body {
    padding: GAP2;
    min-height: calc(100vh - 2 * GAP2);
  }
}
@media screen and (min-width: calc(BP_TABLET + 1px)) {
  body {
    padding: GAP3;
    min-height: calc(100vh - 2 * GAP3);
  }
}

body {
  background: linear-gradient(45deg, COLOR_BACK1, COLOR_BACK2);
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  color: COLOR_PRIMARY;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 24px;
}

a {
  color: COLOR_SECONDARY;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Lilita One', cursive;
  font-weight: 300;
  text-align: center;
}

h1 { font-size: 48px; margin-top: GAP4; margin-bottom: GAP3 }
h2 { font-size: 36px; margin-top: GAP3; margin-bottom: GAP2 }
h3 { font-size: 32px; }
h4 { font-size: 28px; }
h5 { font-size: 26px; }
h6 { font-size: 24px; }

p, form, input {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 24px;
}