@value consts: './consts/theme.css';
@value COLOR_PRIMARY, GAP2, GAP3, GAP4 from consts;


.App-header {
  background-color: #282c34;
}
.App-link {
  color: #09d3ac;
}

body, a {
  color: COLOR_PRIMARY;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Lilita One', cursive;
  font-weight: 300;
  text-align: center;
}

h1 { font-size: 48px; margin-top: GAP4; margin-bottom: GAP3}
h2 { font-size: 36px; margin-top: GAP3; margin-bottom: GAP2}
h3 { font-size: 32px; }
h4 { font-size: 28px; }
h5 { font-size: 26px; }
h6 { font-size: 24px; }