@import url('https://fonts.googleapis.com/css?family=Lilita+One|Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 24px;
}

*::selection {
  background: #fff;
  color: #000;
}

body {
  background: linear-gradient(45deg, #281934, #9477c9);
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  min-height: 100vh;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#root main {
  flex: 1 1 auto;
}