@import url('https://fonts.googleapis.com/css?family=Lilita+One|Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 18px;
}

body {
  background: linear-gradient(45deg, #281934, #9477c9);
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  min-height: 100vh;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Lilita One', cursive;
  font-weight: 300;
  text-align: center;
}

h1 { font-size: 48px; }
h2 { font-size: 36px; }
h3 { font-size: 26px; }
h4 { font-size: 24px; }
h5 { font-size: 22px; }
h6 { font-size: 18px; }