@value consts: './../../consts/theme.css';
@value COLOR_BACK1, GAP4, GAP3, GAP2 from consts;

.slider {
  height: 40vh;
  margin-top: GAP2;
  margin-right: calc(0px - GAP3);
}

.service {
  width: 100%;
  height: 100%;
  background: COLOR_BACK1;
  padding: GAP2 GAP4;
/*  composes: BACKGROUND_PRIMARY from consts;*/
}

.service img {
  width: 33%;
  float: left;
  padding: GAP2;
}